{% extends 'tracking_app/main.html' %} {% block content %}

<div class="">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-0">{{ project.name }}</h4>

    <div class="d-flex gap-2">
      <button
        type="button"
        class="btn btn-success btn-sm text-nowrap"
        data-bs-toggle="modal"
        data-bs-target="#projectModal"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-square-pen-icon lucide-square-pen"
        >
          <path
            d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
          />
          <path
            d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"
          />
        </svg>
        Update
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm text-nowrap"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal{{ project.id }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-trash2-icon lucide-trash-2"
        >
          <path d="M10 11v6" />
          <path d="M14 11v6" />
          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
          <path d="M3 6h18" />
          <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
        </svg>
        Delete
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center gap-3">
    <h6 class="mb-0">Status: {{ project.status }}</h6>
    <span>|</span>
    <strong id="project-progress-text"> {{ project.get_progress }}% </strong>

    <div
      class="progress mb-0"
      style="max-width: 250px; width: 100%; height: 12px"
    >
      <div
        class="progress-bar"
        id="project-progress-bar"
        style="width: {{ project.get_progress }}%;"
      ></div>
    </div>
  </div>

  <p>{{ project.description}}</p>

  <hr />

  <div>
    <div class="container-fluid">
      <!-- prettier-ignore -->
      {% for phase in phases %} {% include 'tracking_app/partials/_phase_block.html' %} {% empty %}
      <p>No phases found.</p>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'tracking_app/partials/_project_form.html' %}

<!-- Modals -->

<div class="modal fade" id="deleteModal{{ project.id }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Project</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Are you sure you want to delete
        <strong>{{ project.name }}</strong>?
      </div>

      <div class="modal-footer">
        <!-- DELETE FORM -->
        <form method="POST" action="{% url 'delete_project' project.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, Delete</button>
        </form>

        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
