{% extends 'tracking_app/main.html' %} {% block content %}

<div class="">
  <h1>{{ project.name }}</h1>
  <h4>Status: {{ project.status }}</h4>
  <strong>Progress: {{ project.get_progress }}%</strong>
    <div class="progress mb-2">
      <div class="progress-bar" data-progress="{{ project.get_progress }}"></div>
    </div>
  <strong>Description</strong>
  <p>{{ project.description}}</p>
  <hr />

  <div>

    <div class="container-fluid">
      {% for phase in phases %}
          {% include 'tracking_app/partials/_phase_block.html' %}
      {% empty %}
        <p>No phases found.</p>
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}
