<div class="accordion" id="phaseAccordion">

  {% for phase in phases %}

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <strong>{{ phase.name }} - Tasks: {{ phase.tasks.all|length }}</strong>
      </button>
    </h2>
    
      {% for task in phase.tasks.all %}
      
          {% include 'tracking_app/partials/_task_item.html' with task=task %}

        {% empty %}

        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <strong class="text-muted">No tasks yet.</strong>
          </div>
        </div>

        {% endfor %}

  </div>

  {% endfor %}

</div>