<div class="card mb-3">
  <div class="card-body">
    
    <a href="{% url 'project_detail' project.pk %}">
      <h5 class="card-title">{{ project.name }}</h5>
    </a>

    {% if project.description %}
    <p class="card-text text-muted">
      {{ project.description|truncatechars:80 }}
    </p>
    {% endif %}

    <small>Progress: {{ project.get_progress }}%</small>
    <div class="progress mb-2">
      <div class="progress-bar" data-progress="{{ project.get_progress }}"></div>
    </div>

    <span class="badge bg-secondary"> {{ project.status }} </span>

    
  </div>
</div>

<script>
  document.querySelectorAll('.progress-bar').forEach(bar => {
    bar.style.width = bar.dataset.progress + '%';
  });
</script>